@import 'tailwindcss';

@plugin "tailwindcss-animate";

@theme {
  --color-primary: rgb(129 211 222);
  --color-surface-tint: rgb(129 211 222);
  --color-on-primary: rgb(0 54 60);
  --color-primary-container: rgb(0 79 86);
  --color-on-primary-container: rgb(157 240 251);
  --color-secondary: rgb(177 203 207);
  --color-on-secondary: rgb(28 52 55);
  --color-secondary-container: rgb(50 75 78);
  --color-on-secondary-container: rgb(205 231 235);
  --color-tertiary: rgb(185 198 234);
  --color-on-tertiary: rgb(35 48 77);
  --color-tertiary-container: rgb(57 70 100);
  --color-on-tertiary-container: rgb(217 226 255);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(14 20 21);
  --color-on-background: rgb(222 228 228);
  --color-surface: rgb(14 20 21);
  --color-on-surface: rgb(222 228 228);
  --color-surface-variant: rgb(63 72 74);
  --color-on-surface-variant: rgb(190 200 202);
  --color-outline: rgb(137 146 148);
  --color-outline-variant: rgb(63 72 74);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(222 228 228);
  --color-inverse-on-surface: rgb(43 49 50);
  --color-inverse-primary: rgb(0 105 114);
  --color-primary-fixed: rgb(157 240 251);
  --color-on-primary-fixed: rgb(0 31 35);
  --color-primary-fixed-dim: rgb(129 211 222);
  --color-on-primary-fixed-variant: rgb(0 79 86);
  --color-secondary-fixed: rgb(205 231 235);
  --color-on-secondary-fixed: rgb(5 31 34);
  --color-secondary-fixed-dim: rgb(177 203 207);
  --color-on-secondary-fixed-variant: rgb(50 75 78);
  --color-tertiary-fixed: rgb(217 226 255);
  --color-on-tertiary-fixed: rgb(12 27 54);
  --color-tertiary-fixed-dim: rgb(185 198 234);
  --color-on-tertiary-fixed-variant: rgb(57 70 100);
  --color-surface-dim: rgb(14 20 21);
  --color-surface-bright: rgb(52 58 59);
  --color-surface-container-lowest: rgb(9 15 16);
  --color-surface-container-low: rgb(23 29 29);
  --color-surface-container: rgb(27 33 34);
  --color-surface-container-high: rgb(37 43 44);
  --color-surface-container-highest: rgb(48 54 55);
}

:root {
  --font-family-title: 'Gill Sans', serif;
  --font-family-text: 'Gill Sans', sans-serif;
  --font-family-math: 'Cambria Math', 'STIX Math', 'Latin Modern Math', serif;
  --font-family-code: 'Courier New', Courier, monospace;
  --font-size-title: 2rem;
  --font-size-sub-title: 1.5rem;
  --font-size-text: 1rem;
  --font-size-small: 0.9rem;
  --code-blue: hsl(199, 97%, 70%);
  --code-red: hsl(0, 85%, 69%);
  --code-green: hsl(100, 76%, 50%);
  --code-yellow: hsl(55, 72%, 58%);
  --code-background: var(--color-surface-bright);
  --code-padding: 0.125rem, 0.3rem;
  --code-border-radius: 0.25rem;
  --margin-bottom-title: 1rem;
  --margin-bottom-text: 0.75rem;
}

.group .ps__rail-y {
  @apply bg-transparent;
}

.group .ps__thumb-y {
  @apply bg-gray-500 rounded-md transition-all;
}

.group .ps__thumb-y:hover {
  @apply bg-gray-700;
}
