@import '../index.css';

challenge {
  color: var(--background);
  font-size: var(--font-size-title);
  font-family: var(--font-family-title);
}

ds {
  color: var(--secondary);
  font-size: var(--font-size-text);
  font-family: var(--font-family-text);
}

sub-title {
  color: var(--secondary);
  font-size: var(--font-size-sub-title);
  font-family: var(--font-family-title);
}

more {
  color: var(--secondary);
  font-size: var(--font-size-small);
  font-family: var(--font-family-text);
}

variable {
  color: var(--chart-4);
  font-size: var(--font-size-text);
  font-style: italic;
  font-family: var(--font-family-math);
}

lb {
  font-family: var(--font-family-code);
  background-color: var(--code-background);
  color: var(--code-blue);
  font-weight: bold;
  padding: var(--code-padding);
  border-radius: var(--code-border-radius);
  font-size: var(--font-size-text);
}

ly {
  font-family: var(--font-family-code);
  background-color: var(--code-background);
  color: var(--code-yellow);
  font-weight: bold;
  padding: var(--code-padding);
  border-radius: var(--code-border-radius);
  font-size: var(--font-size-text);
}

lg {
  font-family: var(--font-family-code);
  background-color: var(--code-background);
  color: var(--code-green);
  font-weight: bold;
  padding: var(--code-padding);
  border-radius: var(--code-border-radius);
  font-size: var(--font-size-text);
}

lr {
  font-family: var(--font-family-code);
  background-color: var(--code-background);
  color: var(--code-red);
  font-weight: bold;
  padding: var(--code-padding);
  border-radius: var(--code-border-radius);
  font-size: var(--font-size-text);
}
